.wrapper {
  display: inline-block;
}

.contactButton {
  background-color: #e91e63;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttonSmall {
  padding: 6px 12px;
  font-size: 12px;
}

/* Medium size (default) */
.buttonMedium {
  padding: 10px 20px;
  font-size: 16px;
}

/* Large size */
.buttonLarge {
  padding: 14px 28px;
  font-size: 20px;
}

.contactButton:hover {
  background-color: #d81b60;
}
