:root {
  --primary-color: #4a90e2;
  --secondary-color: #50c878;
  --text-color: #333;
  --bg-color: #fff;
  --card-bg-color: #f4f4f4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.dark-mode {
  --primary-color: #64b5f6;
  --secondary-color: #81c784;
  --text-color: #f4f4f4;
  --bg-color: #333;
  --card-bg-color: #424242;
}

/* html, body {
  
} */

html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 80px;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1000;
}

@media screen and (max-width: 968px) {
  .theme-toggle {
    display: none;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.cta-button {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: var(--secondary-color);
}
